#ppStocksChartTableSubTitle {
	font-size: 10pt;
	margin-left: 10px;
	text-transform: capitalize;
	line-height: 10px;
}

#ppStocksChartTable td {
	padding-right: 20px;
	padding-top: 0px !important;
	text-align: right;
}

#ppStocksChartTable th {
	text-align: left;
}

#ppStocksChartTable td:nth-child(1) {
	white-space: nowrap;
	text-align: left;
}