.pac-container {
	z-index: 1100 !important;
}

.removeline {
	color: white;
	background-color: black!important;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	display:block;
	margin: 0 0 10px 0;
	text-align: center;
  }
  
  .removeline:hover {
	background-color: grey!important;
	transform: rotate(90deg);
  }
  
  .addline {
	color: white;
	background-color: black!important;
	height: 20px;
	width: 100%;
	margin: 0 10px 0 0;
	padding: 0 5px 0 5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1em;
	/*transform: rotate(45deg);*/
  }
  
  .addline:hover {
	background-color: grey!important;
  }
  
  .stocksymbol {
	border-top-style: dotted;
	padding: 5px 0 0 0;
	margin: 5px 0 10px 5px;
  }